Flask-SQLAlchemy>=2.5.1
Flask>=2.0.1
# https://stackoverflow.com/questions/66690321/flask-and-heroku-sqlalchemy-exc-nosuchmoduleerror-cant-load-plugin-sqlalchemy
SQLAlchemy>=1.4.0
gunicorn>=20.1.0
pandas>=1.3.0
psycopg2-binary>=2.9.1
